body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(to right, #af01ff, #e13ac8, #F7DC6F, #FFA07A, #af01ff);
  background-size: 500% 100%;
  animation: gradient 10s ease-in-out infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  20% {
    background-position: 20% 0%;
  }
  40% {
    background-position: 40% 0%;
  }
  60% {
    background-position: 60% 0%;
  }
  80% {
    background-position: 80% 0%;
  }
  100% {
    background-position: 110% 20%;
  }
}
  
  .container {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  input[type="text"], input[type="file"] {
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }

  button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }

  button[type="button"] {
    background-color: #1c60cc;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="button"]:hover {
    background-color: #163590;
  }